#!/usr/bin/env zsh

# Towared root navigations
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# General Shortcuts
alias g=git
alias k=kubectl
alias p=python
alias vi=nvim

# Directory listing
alias l="ls -lF ${colorflag}"
alias la="ls -lAF ${colorflag}"
alias lsd="ls -lAF ${colorflag} | grep --color=never '^d'" # List only dirs
alias ls="command ls ${colorflag}"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# refresh terminal
alias so="source ~/.zshrc"

# tmux
alias t=tmux
alias tns='tmux new -s '
alias tls='tmux ls'


# System specific aliases
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME"
