#!/usr/bin/env zsh

export EDITOR="/usr/local/bin/nvim"
export NVM_DIR="$HOME/.nvm"

export LDFLAGS="-L/usr/local/opt/llvm/lib"
export CPPFLAGS="-I/usr/local/opt/llvm/include"

# FZF exports
export FZF_DEFAULT_OPTS="--ansi \
                        --height=90% --info=inline --border \
                        --margin=1 --padding=1 \
                        --color 'fg:#665c54,fg+:#ebdbb2,hl:#fe8019,bg:#282828,bg+:#3c3836,preview-bg:#223344,border:#fbf1c7' \
                        "

export FZF_COMPLETION_OPTS='--border --info=inline'

#export FZF_DEFAULT_OPTS="--ansi --preview-window 'right:60%' --margin=1,4 --preview 'bat --color=always --style=header,grid --line-range :300 {}'"

export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --no-ignore-vcs -g "!{node_modules,.git,vendor,build,.Trash,Library,.clangd,__pycache__,.npm,.zsh_sessions,.vscode,.nvm,.dotfiles,Movies,.cache,.composer}"'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# Golang Paths
export GOPATH=$HOME/code/go
export GOROOT="$(brew --prefix golang)/libexec"

export PATH=$PATH:$GOPATH/bin
export PATH=$PATH:$GOROOT/bin

# MySQL Client
export PATH="/usr/local/opt/mysql-client/bin:$PATH"

# Rust
export PATH="/Users/ext.zhewison/.cargo/bin:$PATH"

# Settings

# No homebrew beer emoji when finishing a build
export HOMEBREW_NO_EMOJI=1